---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Sonia Sabbahi — Portfolio" description="Développeuse conceptrice d’applications (React, Django, JS, Python)">
  <h1 style="font-size: 2rem; font-weight: 700; margin-bottom: .5rem;">Bienvenue sur mon portfolio</h1>
  <p style="opacity:.8;">Je conçois des applications modernes, performantes et minimalistes.</p>
</BaseLayout>

